-# check color 
  %h1 This is index page.
  .row
    - (1..18).each do |i|
      .col-md-2{style: "background: \$c#{i}", class: "colour_#{i}"}
        %p #{i}
.background-image
  = image_tag 'lake.jpg', class: 'img img-responsive'
  .overlay
%main
  .container-fluid
    .row
      .col-md-7.col-xs-12
        .article-area
          %h1 OVER THE HILLS & FAR AWAY
          %p.hidden-xs Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum et diam sed tincidunt. Duis volutpat sit amet est eget mollis. Aenean lobortis et metus id pharetra. Suspendisse quis odio laoreet, tincidunt odio eget, tincidunt nibh. 
      .col-md-5.col-xs-12.no-gutter
        .feature-image
          .circle
            = image_tag 'head01.jpg'
%footer
  .container-fluid
    %row.heading
      .col-md-12
        %p proudly presented to you by Gordon Yip, &copy 2015.

-#
  .row.container-fluid
    .col-md-12.image
      = image_tag 'lake.jpg', class: 'img img-responsive'
      .overlay
        %h1 OVER THE HILLS & FAR AWAY
        %p EMERALD MORAINE LAKE, ALBERTA, CANADA